/* home page modules*/
.modules{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid: gap 20px;
    align-content: center;
    justify-content: center;
}
.module_a{
    text-decoration: none;
}
.module_cards{
    position: relative;
    width: 350px;
    height: 400px;
    perspective: 1000px;
    margin: 20px;
}
.module_cards .card_face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
}
.module_cards .card_front{
    transition: transform 0.8s;
    transform-style: preserve-3d;
    box-shadow: 0 5px 10px #000;
}
.module_cards .card_front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.module_cards .card_front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgb(0, 0, 0, .9);
    text-align: center;
    font-family:'Bricolage Grotesque', sans-serif;
}
.module_cards .card_back{ 
    transition: transform 0.8s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    background:rgb(1, 15, 24);
    padding: 20px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}
.module_cards .card_back .module_link{
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 60px;
}
.module_cards .card_back .module_link a{
    color: #f3f3f3;
    text-decoration: none;
}
#card_head{
    color: #f3f3f3;
    font-size: 30px;
    font-family:'Handlee', cursive;
    padding-bottom: 10px;
}
#card_par{
    color: #f3f3f3;
    font-family: 'Marck Script', cursive;
}

.module_cards:hover .card_front {
    transform: rotateY(180deg);
}
.module_cards:hover .card_back {
    transform: rotateY(0deg)
}
/* home page paragraphs,images*/
.home_line{
    display: flex;
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid: gap 10px;
}
.home_img{ 
    float: left; 
    width: 500px;
    height: 300px;
    border-radius: 20px;
}
.home_par{
    padding: 30px;
    width: 100%;
    height: 50%;
    text-align: justify;
    color: #fff; 
}
/* about page paragraph and images*/
.about_div{
    display: flex;
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid: gap 10px;
}
.about_head{
    color: #fff;
    padding: 20px;
    font-family: 'Playfair Display', serif;;
}
.about_par1{
    color: #fff;
    padding: 20px;
    font-family: 'Lobster Two', cursive;
}
.about_par2{
    width: 70%;
}
.about_img1{
    padding: 10px;
    width: 500px;
    height: 300px;
    float: left;
    border-radius: 20px;
}
.about_par3{
    float: left;
}
.about_par4{
    padding-bottom: 100px;
}
/*contact page form */
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../images/contactform_bg);
    background-size: cover;
}
.contact_content{
    max-width: 800px;
    text-align: center;
}
.contact .contact_content h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
    font-family: 'Bricolage Grotesque', sans-serif;
}
.contact .contact_content p{
    font-weight: 300;
    color: #fff;
    padding-top: 30px;
}
.contact_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.contact_info{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.contact_box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.contact_icons{
    min-width: 40px;
    height: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px; 
}
.contact_text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.contact_container .contact_info .contact_box .contact_text h3{
    font-weight: 500;
    color: orange;
    font-family: 'Bricolage Grotesque', sans-serif;
}
.contactform{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contactform h2{
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 40px;
}
.contact_inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contact_input{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contact_button{
    width: 100px;
    background: orange;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
.contact_map{
    padding: 50px 300px;
}

/*module pages*/
.module1_p1{
    color: white;
    padding: 40px; 
}
.module1_p1 h1{
    padding: 20px;
    font-family: 'Handlee', cursive;
}
.module1_p1 p{
    font-family: 'Handlee', cursive;
}
.module_div{
    display: flex;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid: gap 10px;
}
.module_head{
    color: #fff;
    padding: 40px;
    font-family: 'Playfair Display', serif;;
}
.module_par1{
    color: #fff;
    padding: 20px;
    font-family: 'Lobster Two', cursive;
}
.module_par2{
    width: 90%;
}
.module_img1{
    padding: 10px;
    width: 600px;
    height: 400px;
    float: left;
    border-radius: 20px;
}
.module_par3{
    float: left;
}
.module_par4{
    padding-bottom: 100px;
}

/* login and signup form*/
.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  
  }
  .form {
    position: relative;
    z-index: 1;
    background: #48c9b0;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    
  }
  .form input {
    font-family: 'Bricolage Grotesque', sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  border-radius:10px;
    
  }
  .form button {
    font-family: "Titillium Web", sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: .1em;
    outline: 0;
    background: #17a589;
    width: 100%;
    border: 0;
    border-radius:30px;
    margin: 0px 0px 8px;
    padding: 15px;
    color: #FFFFFF;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    transition: all 0.2s;
  
  
  }
  .form button:hover,.form button:focus {
    background: #148f77;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
  }
  .form button:active {
    transform: translateY(2px);
    box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.2);
  }
  
  .form .message {
    
    margin: 6px 6px;
    color: #808080;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
    font-style: normal;
  
    
  
  }
  .form .message a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 13px;
  }
  .form .register-form {
    display: none;
  }
  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }
  .container:before, .container:after {
    content: "";
    display: block;
    clear: both;
  }
  .container .info {
    margin: 50px auto;
    text-align: center;
  }
  .container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
  }
  .container .info span {
    color: #4d4d4d;
    font-size: 12px;
  }
  .container .info span a {
    color: #000000;
    text-decoration: none;
  }
  .container .info span .fa {
    color: #EF3B3A;
  }
  

/* responsive code */
@media (max-width:1175px){
    .contact_map{
        padding: 50px 250px;
    }
}
@media (max-width:991px){
    .contact{
        padding: 50px;
    }
    .contact_container{
        flex-direction: column;
    }
    .contact_info{
        margin-bottom: 40px;
    }
    .contactform{
        width: 100%;
    }
    .contact_map{
        padding: 50px 100px;
    }
}
@media (max-width:866px){
    .contact_map{
        padding: 50px 0px;
    }
}
@media (max-width:576px){
    .home_img{
        width:400px ;
        height:250px;
    }
    .home_par{
        width: 80%;
    }
    .about_img1{
        width: 300px;
        height: 200px;
    }
    .contact_map{
        padding: 50px 0px;
    }

}




